* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: #1e1e1e; */
}
body {
    /* color: #FFD700; */
    /* color: #00FF9C; */
    background: linear-gradient(135deg, #0F2027, #2C5364, #00FF9C);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.random-password {
    /* background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center; */
    margin: 12%;
    width: 70%;
    max-width: 700px;
}
.display {
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 25px;
    border-radius: 5px;
}
.container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
}
.container h1 span {
    color: #FF6B6B;
    /* color: #00FF9C; */
    border-bottom: 4px solid #FF6B6B;
}
.display input {
    width: 90%;
    border: 0;
    outline: 0;
    font-size: 24px;
    font-weight: 500;
    background: transparent;
    flex: 1;
}
.container button {
    background: #FF6B6B;
    /* background: #00FF9C; */
    color: #fff;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.container button:hover {
    /* background: #ff4757; */
    background: #00e68a;
}
::placeholder {
    color: #999;
}
#eyeIcon, #copy {
    font-size: 1.5rem;
}


